*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dashContainer{
  padding: 0 10%;
}
.mainContainer{
  /* width: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.card{
background-color: whitesmoke;
text-align: center;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

@media (min-width:312px) and (max-width:518px)
{
  .mainContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
  }
}

@media (min-width:519px) and (max-width:932px)
{
  .mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
  }
}